.workersName {
    font-family: 'Raleway', sans-serif;
}

.workersTime {
    font-family: 'Raleway', sans-serif;
}

.workersdescription {
    font-family: 'Raleway', sans-serif;
}

.workersTitle {
    font-family: 'Raleway', sans-serif;
}

.workersDescription {
    font-family: 'Raleway', sans-serif;
}   

.workersmainContainer {
    padding: 3% 3% 3% 3%;
}

.workersContainer {
    background: #ffffff;
}

.workersImage {
    padding: 2% 2% 2% 2%;
    display: inline;
}

.workersName {
    padding: 2% 2% 2% 2%;
    display: inline-block;

}

.workersTime {
    padding: 2% 2% 2% 2%;
    display: inline-block;
}

.workersdescription {
    padding: 2% 2% 2% 2%;
    display: inline-block;
}