.workerName {
    font-family: 'Raleway', sans-serif;
}

.workerTime {
    font-family: 'Raleway', sans-serif;
}

.workerdescription {
    font-family: 'Raleway', sans-serif;
}

.workersTitle {
    font-family: 'Raleway', sans-serif;
}

.workersDescription {
    font-family: 'Raleway', sans-serif;
}   