.workersTitle {
    font-family: 'Raleway', sans-serif;
}

.workersDescription {
    font-family: 'Raleway', sans-serif;
}   

.workersmainContainer {
    padding: 3% 3% 3% 3%;
}

.workersImage {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: max-content;
}

.workersName {
    font-family: 'Raleway', sans-serif;
    padding: 2% 2% 2% 2%;
    display: inline-block;
    text-align: center;
}

.workersTime {
    font-family: 'Raleway', sans-serif;
    padding: 2% 2% 2% 2%;
    display: inline-block;
    text-align: center;
}

.workersdescription {
    font-family: 'Raleway', sans-serif;
    padding: 2% 2% 5% 2%;
    display: inline-block;
}

.workersDescriptionCol {
    width: 20%;
    display: inline-block;
    text-align: left;
}

.workersDescriptionCol2 {
    width: 50%;
    display: inline-block;
    text-align: left;
    height: 100%;
}